
body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #5A5A5A 50%, #6F6F6F 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.app-card {
  background: rgba(112, 112, 112, .72);
  /* border: 1px solid rgba(255, 255, 255, .16); */
   box-shadow: inset 0 0 2px white;
  border-radius: 6px;
  color: #f4f4f4 !important;
  opacity: 25;

}

.sidebar  image {
  width: 25% !important;
  
}

.nav-link {
  color: #fff;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 700;
}
.tail-nav{
  font-size: 12px;
}

.nav-link.active,
.nav-link:hover {
  color: #fff;
  background: #f1783e;
}
.nav-link:hover{
  background-color: #9A9A9A;
}
.topbar h1 {
  font-size: 2rem;
  font-weight: 700;
}

.breadcrumb-line,
.top-icons {
  font-size: 1.35rem;
}

.top-icons {
  font-size: 2rem;
}

.bell-wrap {
  position: relative;
}

.dot {
  position: absolute;
  top: -4px;
  right: -3px;
  width: 10px;
  height: 10px;
  background: #f1783e;
  border-radius: 50%;
}

.div-bg{
  background-color: #727272 !important;
  opacity: 25 !important;
}
.div-bV {
  background-color: #818181 !important;
  opacity: 25 !important;
}
.color_C{
  color: #FE7439 !important;
}

.color-main{
  background-color: #717171 !important;
  opacity: 25 !important;
}
