body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(115deg,rgba(255,255,255,.08) 0 18%,transparent 18% 44%,rgba(255,255,255,.1) 44% 66%,transparent 66% ),linear-gradient(120deg, #5c5c5c, #373737, #5c5c5c, #2a2a2a );
    background-size: 300% 300%;
    animation: bgMove 12s ease-in-out infinite alternate;
}
@keyframes bgMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.login-card {
    width: min(100%, 430px);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow:
        0 8px 32px rgba(0,0,0,.35),
        inset 0 1px 1px rgba(255,255,255,.15);

    padding: 2rem;
} 




.brand {
  color: #ff7638;
  font-size: 2rem;
  font-weight: 700;
}

.brand i {
  font-size: 2.6rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

.form-label,
.continue-text,
.help-text {
  font-weight: 700;
}

.form-control {
  color: #fff;
  background: transparent;
  border: 2px solid #eee;
  border-radius: 7px;
}

.form-control:focus {
  color: #fff;
  background: transparent;
  border-color: #fff;
  box-shadow: none;
}

.login-btn,
.social-btn {
  background: #ff6f35;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
}

.login-btn {
  padding: .65rem 1.15rem;
  font-size: 1.45rem;
  font-weight: 700;
}

.social-btn {
  width: 64px;
  height: 64px;
  display: inline-grid;
  place-items: center;
  color: #fff;
  font-size: 2.2rem;
}

.help-text {
  font-size: 1rem;
}
.social-btn:hover{
  background-color: #f08152;
  color: white;
}
.login-btn:hover{
  background-color: #f08152;
  color: white;
}
